<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Added admin</title>
</head>
<body>
<h1>Added admin</h1>
<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="person">Выберете человека: </label>
  <!--/*@thymesVar id="person" type="ru.drogunov.springcource.model.Person"*/-->
  <select th:object="${person}" th:field="*{id}" id="person">
    <option th:each="person : ${people}" th:value="${person.getId()}"
            th:text="${person.getFullname()} + ' ' + ${person.getRole()}"></option>
  </select>
  <br>
  <label for="role">Выберете роль: </label>
  <!--/*@thymesVar id="role" type="ru.drogunov.springcource.model.Role"*/-->
  <select th:object="${role}" id="role" name="role">
    <!--/*@thymesVar id="role" type="ru.drogunov.springcource.model.Role"*/-->
    <option th:each="role : ${T(ru.drogunov.springcource.model.Role).values()}" th:value="${role.name()}" th:text="${role}"></option>
  </select>
  <br>
  <br>
  <input type="submit" value="Добавить">
</form>
<nav>
  <br>
  <a href="/">Home page</a>
  <br>
  <hr>
  <a href="/people">Persons</a>
  <br>
  <hr>
  <a href="/people/new">Create person</a>
  <hr>
  <br>
</nav>
</body>
</html>
