<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
</head>
<body>
<h1>Show book</h1>
<hr>
<!--/*@thymesVar id="book" type="ru.drogunov.springcource.model.Book"*/-->
<p th:text="'ID: '+${book.getId()}"/>
<hr>
<p th:text="'Title '+${book.getTitle()}"/>
<hr>
<p th:text="'Author '+${book.getAuthor()}"></p>
<hr>
<p th:text="'Year manufactured '+${book.getYearManufactured()}"></p>
<hr>
<div th:switch="${!book.isFree()}">
  <p th:case="true"> Person:
    <a th:href="@{/people/{id}(id=${book.person.id})}" th:text="${book.person.getName()}"></a>
  </p>
  <p th:case="false">Книга свободна</p>
</div>

<hr>
<br>
<form th:if="${!book.isFree()}" th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}" th:field="book">
  <input type="submit" value="Freedom">
</form>
<form th:if="${book.isFree()}" th:method="POST" th:action="@{/books/{id}/free(id=${book.getId()})}" th:field="book">
  <label for="person">Выдать книгу: </label>
  <label for="person"></label><select th:object="${person}" th:field="*{id}" id="person">
  <!--/*@thymesVar id="person" type="ru.drogunov.springcource.model.Person"*/-->
  <option th:each="person : ${people}" th:text="${person.getName()}" th:value="${person.getId()}"></option>
</select>
  <input type="submit" value="Reserved">
</form>
<hr>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">
  <input type="button" value="Update">
</a>
<br>
<hr>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete">
</form>

<nav>
  <br>
  <a href="/">Home page</a>
  <br>
  <hr>
  <a href="/people">Persons</a>
  <br>
  <hr>
  <a href="/people/new">Create person</a>
  <br>
  <hr>
  <a href="/books">Books</a>
  <br>
  <hr>
  <a href="/books/new">Create books</a>
  <br>
  <hr>
  <a href="/admin">Added admin</a>
  <hr>
  <br>
</nav>
</body>
</html>










