<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All people</title>
</head>
<body>

<div>
  <ul>
    <li th:each="person : ${people}">
      <!--/*@thymesVar id="person" type="ru.drogunov.springcource.model.Person"*/-->
      <a th:href="@{/people/{id}(id=${person.getId()})}"
         th:object="${person}"
         th:text="*{name} + ',         ' + *{surname} + ',         ' + *{yearBrith} + ',         ' + *{email} + ',         ' + *{address}">
    </li>
  </ul>
  <br>
</div>

<nav>
  <br>
  <a href="/">Home page</a>
  <br>
  <hr>
  <a href="/people">Persons</a>
  <br>
  <hr>
  <a href="/people/new">Create person</a>
  <br>
  <hr>
  <a href="/books">Books</a>
  <br>
  <hr>
  <a href="/books/new">Create books</a>
  <br>
  <hr>
  <a href="/admin">Added admin</a>
  <hr>
  <br>
</nav>
</body>
</html>
