<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First controller</title>
</head>
<body>
<h1>Home page</h1>
<nav>
  <br>
  <a href="/">Home page</a>
  <br>
  <hr>
  <a href="/books/search">Search</a>
  <br>
  <hr>
  <a href="/people">Persons</a>
  <br>
  <hr>
  <a href="/people/new">Create person</a>
  <br>
  <hr>
  <a href="/books">Books</a>
  <br>
  <hr>
  <a href="/books/new">Create books</a>
  <br>
  <hr>
  <a href="/admin">Added admin</a>
  <hr>
  <br>
</nav>
</body>
</html>
